body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.main-header {
    background-color: #6ae87a;
    height: 3rem;
}
.main-header__nav {
    height: 100%;
}
.main-header__item-list {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}
.main-header__item {
    padding: 0 1rem;
}
.main-header__item a {
    text-decoration: none;
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: #f25106;
}

main {
    display: flex;
    justify-content: center;
}
